@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('./img/background-blur.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-bar{
    width: 100%;
}

.nav-bar ul{
    list-style: none;
    background-color: #04447C;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar li{
   display: inline-block;
}

.nav-bar a{
    text-decoration: none;
    color: #ffffff;
    width: 100%;
    display: block;
    padding: 25px 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

.nav-bar a:hover{
    color: #2596BE;
    transition: 0.20s;
}

.login-menu{
    background-color: rgba(128, 128, 128, 0.6);
    margin: 4% 10% 10% 68%;
    width: 450px;
    height: 600px;
    border-radius: 10px;
}

.login-logo {
    padding: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-logo img{
    width: 300px;
    height: 95px;
}

.login-menu hr{
    border-color: rgba(0, 0, 0, 0.2);
    margin: 0% 12% 6% 12%;
}

.login-form{
    display: flex;
    justify-content: center;
    text-align: -webkit-center;
}

.login-form input{
    font-family: 'Poppins', sans-serif;
    margin: 30px;
    background-color: #f5f5f5;
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 4px;
    border: 0px;
}

.login-form input::placeholder{
    text-align: center;
}

.login-form input:focus{
    caret-color: #909090;
    outline: 0;
}

.login-form input:focus::placeholder{
    opacity: 0;
    transition: .2s;
}

#login-btn{
    cursor: pointer;
    color: #ffffff;
    background-color: #2596BE;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    width: 150px;
    height: 60px;
    border: 0px;
}

#login-btn:hover{
    background-color: #04447C;
    transition: 0.25s;
}

#login-btn:active{
    font-size: 14px;
}

#login-help{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

#login-help a{
    color: #ffffff;
    margin: 12px;
    text-decoration: none;
}

#login-help a:hover{
    color: #dedede;
    transition: .5s;
}

#login-help p{
    margin-bottom: 6px;
}

#login-rights{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

#login-rights:hover{
    cursor: default;
}
