<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UPx Bus</title>
        <link rel="stylesheet" href="/public/style/style.css">
        <script src=""></script>
    </head>
    <body>

        <header>
            <div class="nav-bar">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">Sobre nós</a></li>
                    <li><a href="/knowing">Conheça o Sistema</a></li>
                    <li><a href="/contact">Fale Conosco</a></li>
                </ul>
            </div>
        </header>

        <section class="side-menu">
            <div class="side-tabs ">
                <img class="side-logo" src="img/facensLogo.png" alt="Centro Universitário Facens">
                <button class="tab-btn" tab-value="1"><a href="/">Dashboard</a></button>
                <button class="tab-btn" tab-value="2"><a href="/report">Relatórios</a></button>
                <button class="tab-btn tab-btn-active" tab-value="4"><a href="/help">Ajuda</a></button>
            </div>
            <div class="tab-content" content-value="4">
                <div class="tab-description">
                    <h2>Precisa de ajuda ?</h2>
                </div>
                <section class="content-panel">
                    <div class="help-text">
                        <p>Fale conosco ou envie uma mensagem via WhatsApp através do (15) 99718-5898 </p>
                    </div>
                </section>
            </div>
        </section>

    </body>

    <script>

    </script>

</html>